.dets{
    background-image:url("/assets/images/userbg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0 ;
    height: 302px;
}

.inn{
    float: right;
    font-size: 25px;
    background-color:rgba(0,0,0,0.7);
    margin: 5rem 7rem 0 0 ;
    color: white;
    padding: 1rem;
}

th, td{
    padding: 10px;
}