<div class="div1" align="center">
    <form>
        <div class="div2" align="center">
            Set New Password
        </div>
        <div class="div3" align="center">
            <p>Login Password    -    <input type="text"  name="lgnpass" required><br><br></p>
            <p>Confirm Password    -    <input type="password"  name="accno" required><br><br></p>
        </div>
        <div class="div4" align="center">
            <button type="submit" style="font-weight: bolder;font-size: xx-large;">Submit</button>
        </div>
    </form>
</div>