#welcome {
    border:solid;
    margin-top:90px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #1e4f8a;
    color:white;
	padding:5px;
    font-style: bold;
    font: Arial, Helvetica, sans-serif;
    text-align: center;
	font-size:25px;
}