<footer>
    <div id="foots">
        <div>
            <img src="/assets/images/lti_logo.jpg" alt="HTML5 Icon" width="110" height="80" id="logo" />
        </div>
        <div><h2 style="text-align:center;margin: 45px 60px; color:white"> Connect With Us</h2></div>
        <div>
            <h2 style="text-align:center;margin: 45px 60px;color:white"><b>EMAIL @  <u>
                        contact.ltibankingservices@gmail.com</u></b></h2>
        </div>
        <div >
       <h2 style="text-align:center;margin: 45px 60px;color:white">© 2021 LTI Banking Services</h2>
        </div>

    </div>

</footer>


