body{  
  font-family: Calibri, Helvetica, sans-serif;
   
}  
#head-div {
    width:1400px;
    height: 100px;
    background-color: #1e4f8a;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    border: black;
        border-width:3px;
        border-style:solid;
}

#head-text {
    font-style: bold;
    font: Arial, Helvetica, sans-serif;
    text-align: center;
	color:white;
}


.container {  
    margin-left:400px;
    padding: 50px;
    width: 40%;  
}  
  
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: #1e4f8a;
  color:white;
font-size:25px;  
  outline: none;  
}  
 
		 
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  

  

  color: #1e4f8a;  
  margin-top:20px;
  margin-left: 240px ; 
  margin-bottom:100px;  
  font-size:60px;
  cursor: pointer;  
  width: 10%;  

  opacity: 1; 
    
}  
.registerbtn:hover {  
  opacity: 1;  
}  