<app-header></app-header>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>User Dashboard</title>
    <script>
        function setURL(url) {
            document.getElementById('frame').src = url;
        }
    </script>
</head>

<body>

    <br>
    <div id="menu" align="center">
        <!--    <div id="menu-box-vertical">
            <button id="menu-button">Account details</button>
            <button id="menu-button">Fund Transfer</button>
            <button id="menu-button">Manage Beneficiaries</button>
            <button id="menu-button">Account Summary</button>
            <button id="menu-button">Account Statement</button>
        </div> -->

        <div id="menu-horizontal" >
            <a routerLink="/userDetails" target="frame"> <button id="menu-button" >My Profile</button></a>
            <a routerLink="/accountDetails" target="frame"> <button id="menu-button">Account details</button></a>
            <a routerLink="/accountSummary" target="frame"> <button id="menu-button">Account Summary</button></a>
            <a routerLink="/neftPayment" target="frame"> <button id="menu-button">Fund Transfer</button></a>
            <a routerLink="/addBeneficiary" target="frame"> <button id="menu-button">Add Beneficiaries</button></a>
            <a routerLink="/changePassword" target="frame"> <button id="menu-button">Change Password</button></a>
            
            <a target="frame"> <button id="menu-button" (click)="logout()">Log Out</button></a>
        </div>


    </div>

    <router-outlet></router-outlet>
    <iframe src="/welcome" height="400" width="1400" name="frame" style="margin-top: 20px;margin-left: 40px;">

    </iframe>


</body>

</html>
<app-footer></app-footer>