<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>User Dashboard</title>

</head>

<body>

    <br>
    <div id="menu">
        <div id="menu-box-vertical">
            <button id="menu-button">Account details</button>
            <button id="menu-button">Fund Transfer</button>
            <button id="menu-button">Manage Beneficiaries</button>
            <button id="menu-button">Account Summary</button>
            <button id="menu-button">Account Statement</button>
        </div>

        <div id="menu-horizontal">
            <button id="menu-button">My Profile</button>
            <button id="menu-button-horizontal">Change Password</button>
            <button id="menu-button">Check Balance</button>
        </div>
    </div>

</body>

</html>