<app-header></app-header>
<div class="rtgs">
<form action="loginAdmin" method="post">
        <div id="login-box">

            <h2 align="center">Initiate RTGS Payment</h2>

            <div id="login-box-name" style="margin-top:20px;">From Account:</div>
            <div id="login-box-field" style="margin-top:20px;">
                <input name="q" class="form-login" title="Username" value="" size="30" maxlength="2048" />
            </div>

            <div id="login-box-name">To Account:</div>
            <div id="login-box-field">
                <input name="q" type="text" class="form-login" title="Password" value="" size="30"
                    maxlength="1024" />
                <a href="#"><button>Add New +</button></a> 
            </div>

            <div id="login-box-name">Amount:</div>
            <div id="login-box-field">
                <input name="q" type="password" class="form-login" title="Password" value="" size="30"
                    maxlength="2048" />
            </div>

            <div id="login-box-name">Transaction Date:</div>
            <div id="login-box-field">
                <input name="q" type="text" class="form-login" title="Password" value="" size="30"
                    maxlength="2048" />
            </div>

            <div id="login-box-name">Maturity Instructions:</div>
            <div id="login-box-field">
                <input name="q" type="text" class="form-login" title="Password" value="" size="30"
                    maxlength="2048" />
            </div>

            <div id="login-box-name">Remark:</div>
            <div id="login-box-field">
                <input name="q" type="text" class="form-login" title="Password" value="" size="30"
                    maxlength="2048" />
            </div>
            
            <div align="center">
                <button id="login-button" type="submit" value="Log In">Continue</button>
            </div>
        </div>
</form>
</div>
<app-footer></app-footer>